doctype html
html
    head
        title Join Group Webpage
        link( rel='stylesheet', href='css/main2.css')
    body
        include ./loginHeader.pug
        img( src='images/lunch4four_logo.png' height='45px' width='350px')
        #container3

            form(action='post-test', method='post')
                h3 <b>Create Group Page
                div
                    label(for="AuID") Group Code: 
                    input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Date:
                    input(type="date", name="") 
                    //-input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Time: 
                    input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Location: 
                    input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Members Invited: 
                    input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Members: 
                    input(name='auID' value= ' ')
                    br
                    label(for="CheckBox") Email Confirmation:</b>
                    input(type='checkbox', name="CheckBox")
                    br


            
            
                button( type="login") <b>Cancel</b>
                button( type="login") <b>Submit</b>
            include ./loginFooter.pug