doctype html
html
    head
        title Create Group Webpage
        link( rel='stylesheet', href='css/main2.css')
    body
        include ./loginHeader.pug
        img( src='images/lunch4four_logo.png' height='45px' width='350px')
        #container3

            form(action='groupCreated', method='post')
                h3 <b>Create Group Page
                div
                    label(for="groupCode") Group Code: 
                    input(name='groupCode' value= ' ')
                    br
                    label(for="gDate") Group Date:
                    input(type="date", value="2020-12-01", name="") 
                    //-input(name='auID' value= ' ')
                    br
                    label(for="time") Group Time: 
                    input(name='time' value= ' ')
                    br
                    label(for="location") Group Location: 
                    input(name='location' value= ' ')
                    br

                    a(href="/groupCreated")
                        button( type="submit") <b>Submit</b>

            form(action='LFFpostLogin', method='get')
                a(href="LFFpostLogin")
                    button( type="login") <b>Cancel</b>
                
            include ./loginFooter.pug