doctype html
html
    head
        title Create Group Webpage
        link( rel='stylesheet', href='css/main2.css')
    body
        include ./loginHeader.pug
        img( src='images/lunch4four_logo.png' height='45px' width='350px')
        #container3

            form(action='LFFpostLogin', method='get')
                h3 <b>Create Group Page
                div
                    label(for="groupCode") Group Code: 
                    input(name='groupCode' value= ' ')
                    br
                    label(for="gDate") Group Date:
                    input(type="date", name="") 
                    //-input(name='auID' value= ' ')
                    br
                    label(for="time") Group Time: 
                    input(name='time' value= ' ')
                    br
                    label(for="location") Group Location: 
                    input(name='location' value= ' ')
                    br
                    label(for="AuID") Group Members Invited: 
                    input(name='auID' value= ' ')
                    br
                    label(for="AuID") Group Members: 
                    input(name='auID' value= ' ')
                    br
                    label(for="CheckBox") Email Confirmation:
                    input(type='checkbox', name="CheckBox")
                    br


            
                a(href="LFFpostLogin")
                    button( type="login") <b>Cancel</b>
                a(href="LFFpostLogin")
                    button( type="submit") <b>Submit</b>
            include ./loginFooter.pug