doctype html
html
    head
        title LogIn Page
        link( rel='stylesheet', href='css/main2.css')
    body    
        include ./loginHeader.pug
        img( src='imgs/lunch4four_logo.png' height='90px' width='600px')
        
        form(action='post-test', method='post')
            div 
                h3 Please enter your Aurora ID number:
                input(name='auID' value= ' ')
            br
            
            
            button( type="login") Authenticate
        include ./loginFooter.pug