doctype html
html
    head
        title Join Or Create
        link( rel='stylesheet', href='css/main2.css')
        include ./loginHeader.pug
    body
        #container1
            h3#join Join Group 
            form(action='post-test', method='post')
                div
                    label(for="groupCode") <b>Click "Join" below to join new group!</b>
                br
                a(href="LFFjoin")
                    button(type="button" class="join") Join

        #container2
            h3#create Create Group
            form(action='post-test', method='post')
                div
                    label(for="createCode") <b>Click "Create" below to create new group!</b>
                br
                a(href="LFFcreate")
                    button(type="button" class="create") Create