doctype html
html
    head
        title Join Or Create
        link( rel='stylesheet', href='css/main2.css')
        include ./loginHeader.pug
    body
        #container1
            h3#join Join Group 
            form(action='post-test', method='post')
                div
                    label(for="groupCode") <b>Enter 4 Digit Group Code: </b>
                    input(type="groupCode")
                br
                button(type="submit" class="join") Join

        #container2
            h3#create Create Group
            form(action='post-test', method='post')
                div
                    label(for="createCode") <b>Click "Create" below to create new Group!</b>
                br
                button(type="submit" class="create") Create
